---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign title_format = site.minima.title_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" titletime="{{ page.title | title_to_xmlschema }}" itemprop="titlePublished">
        {{ page.title | title: title_format }}
      </time>
      {%- if page.modified_title -%}
        ~ 
        {%- assign mtitle = page.modified_title | title_to_xmlschema -%}
        <time class="dt-modified" titletime="{{ mtitle }}" itemprop="titleModified">
          {{ mtitle | title: title_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
